#main {
  text-align: center;
  padding: 15px;
  background-color: #C0D6E4;
}

#inner-table {
  background-color: #FFF;
  display: block;
}

#survey-form {
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
  grid-template: "name-label name-input";

}

#radiogroup{
  display: grid;
}
#collection{
  padding: 20px;
}
#label-form{
  align-self:center;
}
#input-form{
  justify-self:start;
}
