#main{
  text-align:center;
  padding:15px;
  background-color:#C0D6E4;
}
#inner-table{
  background-color: #FFF;
  display:block;
  padding: 10px;
}
#input-padding{
  padding-top: 20px;
}
#survey-form{
  padding-left:100px;
  text-align:left;
}
label{
  padding-right:10px;
}
input{
  width:200px;
}
